<!-- Banner Section -->
<section
  class="banner d-flex align-items-center justify-content-center text-center text-white"
  style="
    background-image: url('salle.jpg');
    height: 400px;
    background-size: cover;
  "
>
  <!-- Dark Overlay -->
  <div class="overlay"></div>
  <div class="detail position-relative z-2">
    <h1>Mutuelle Assurance de l'Enseignement
    </h1>
    <button class="btn btn-success" routerLink="/reservation">
      Souscrire maintenant
    </button>
  </div>
</section>

<!-- About Us Section -->
<section id="about" class="about-us py-5 bg-light">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-4 d-flex">
        <img
          src="salle2.jpg"
          class="img-fluid"
          alt="About Us"
          style="object-fit: cover"
        />
      </div>
      <div class="col-md-6">
        <h2
          style="text-transform: capitalize; font-size: 40px; font-weight: bold"
        >
          à propos
        </h2>
        <p style="line-height: 2rem">
          Depuis sa création en 1962, MAE Assurances s'engage à offrir des
          solutions d’assurance adaptées aux besoins des particuliers, des
          professionnels et des entreprises en Tunisie. Forte de son héritage
          mutualiste, elle met l’accent sur la proximité, la confiance et
          l’innovation pour garantir une protection optimale à ses adhérents.
          Que ce soit pour l’assurance automobile, habitation, santé ou
          prévoyance, MAE Assurances propose des offres complètes et
          accessibles, conçues pour assurer sérénité et sécurité au quotidien.
          Pionnière dans son domaine, elle continue d’évoluer pour répondre aux
          attentes de ses clients avec des services modernes et performants.
        </p>
        <div style="display: flex; gap: 1rem">
          <a class="btn btn-success" routerLink="/email">Contact</a>
          <a class="btn btn-dark" routerLink="/contact">Souscrire maintenant</a>
        </div>
      </div>
    </div>
  </div>
</section>
